.about__button-forward {
  width: 60px;
  height: 60px;
  margin: 0 0 0 21px;
  padding: 0;
  background-image: url(../../../images/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #001337;
  border-color: white;
  border-radius: 100px;
  border-width: 1px;
}

.about__button-forward:hover {
  cursor: pointer;
  opacity: 80%;
}
