.publications__bullet {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 8px 0 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .publications__bullet {
    width: 8px;
    height: 8px;
  }
}
