.form__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 23px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .form__header {
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 37px;
  }
}

@media screen and (min-width: 1000px) {
  .form__header{
    font-size: 36px;
    line-height: 68px;
  }
}