.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px 33px;
}

@media screen and (min-width: 700px) {
  .footer {
    padding: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    padding: 80px;
  }
}