.education__img {
  width: 256px;
  height: 160px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 12px;
  order: -1;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .education__img {
    width: 280px;
    height: 280px;
    margin-bottom: 0;
    object-fit: cover;
    object-position: right;
    order: 1;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .education__img {
    width: 445px;
    height: 364px;
    margin-bottom: 0;
    object-fit: cover;
    object-position: right;
  }
}
