.lab-card-popup__image {
  grid-area: image;
  display: block;
  min-height: 268px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-image: url("../../../images/lab_popup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .lab-card-popup__image {
    background-image: url('../../../images/lab_popup_larger.png');
  }
}